body {
    font-family: 'Besley', serif;
}

header, h2, h3, footer {
    text-align: center;
}

h1 {
    color: #2D5AFC;
}

h2, h3 {
    color: #689BFC;
}

hr {
    height: 2px;
    background-color: #689BFC;
}

footer {
    padding: 25px 0px;
}

img {
    width: 50px;
    height: 50px;
    transition: all 1s;
}

img:hover {
    transform: scale(1.1);
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.minititulo {
    font-size: 1.2rem;
}

#skills-container {
    display: flex;
    justify-content: space-around;
}